body{
    /* background-color:#5a3e8d;; */
    background-color:#fff; 
    color:#000;   
    overflow-x:hidden; 
    animation:bugfix infinite 1s;
    font-family: "Trirong", Cambria, Cochin, Georgia, Times, serif;
}

.body{
    width:100%;
    overflow-x:hidden;
}

@keyframes bugfix{
    from{padding: 0;}
    to{padding:0;}
}

a{
    color: #5a3e8d; /*#ff3c00; #070125; rgb(255, 94, 0);*/
    text-decoration:none;
}

.button{
    background-color:#5a3e8d;
    color:#fff;
    font-size:18px;
    margin:19px 0px;
    border:0;
    border-radius:18px;
    height:45px;
    width:90%;
}

.menu-box{
    display:none;
}

.menu-icon, .dashboard-menu-icon{
    font-size:21px;
    float:left;
    margin:21px;
    color:#fff;
    background-color:#2b8eeb;
    padding:2px 10px;
    border-radius:4px;

    display: block;
}

.x{
    font-size:21px; 
    color:#5a3e8d;
    text-align: right;
}

.menu-list{
    background-color: #faf4dd;
    color:#5a3e8d;
    font-weight: bold;
    list-style-type:none !important;
    position:fixed;
    box-shadow: 3px 3px 6px #5a3e8d;

    display:none;
} 

.menu-list li{
    font-size: 18px;
    padding:16px 16px 16px 0px;
    border-bottom:1px solid #525050 !important;/*#ffffff52*/
    list-style-type:none !important;
}


.menu-list li a:hover{
    background-color:#fff;
}

.menu-box:checked ~ .menu-list{
    top:-20px;
    right:0px; 
    width: 280px; 
    height:600px;
    padding-left:30px;
    box-shadow:0px 0px 3px 0px #fff; 
    transition-property:width;
    transition-delay: .1s;
    transition-duration: .6s;
    transition-timing-function: ease-in;
    display:block;

    list-style-type: none;
}

.menu-box:checked ~ .menu_list li{
   /* border-top:1px solid #fff;*/
    padding-left:30px;
}

.site_name{
    font-size:18px;
    margin-top:25px; 
    float:left;
}

.input {
    width:90%;
    height:36px;
    margin-top:6px;
    background-color: #fff;
    color:#000;
    border:1px solid #5a3e8d;;
    border-radius: 18px;
}

.input-div{
    margin-top:21px;
}

.textarea{
    margin:6px 0px 3px 0px;
    width:90%;
    height:100px;
    background-color:#03010f;
    color:#fff;
    border:1px solid #fff;
    border-radius: 6px;
}

/*other pages*/

/*dashboard page*/

.dashboard{
    width:90%;
    height:95%;
}

.dashboard-menu{
    width:60%;
    float:left;
    border-radius:8px;
    background-color: #faf4dd;
    box-shadow:3px 3px 7px 3px #888;
    height: 80%;
    position:absolute;

    z-index:3;
}

.dashboard-main{
    width:90%;
    height:95%;
}     

.dashboard-menu-list li{
    list-style-type:none;
    margin-bottom:21px;
    font-weight:bold
}

.inner-dashboard-main {
    margin: 3%;
    border-radius:8px;
    box-shadow: 3px 3px 7px 3px #525050;
}

/*dashboard section ends*/



.sign-in-box{
    border:1px solid #fff;
    border-radius:6px;
    box-shadow:0px 0px 6x 0px #fff;
    padding:5px;
    margin:1%;
}

.sign-in-welcome{
    background-image:url('../static/images/bitcoin_bg.png');
    background-size:cover;
    padding:3%;
    font-size:21px;
    margin-bottom:2%;
}

.sign-in-welcome a{
    color:#2b8eeb;
}

.code1, .code2, .code3, .code4, .code5, .code0{
    flex:3 3 auto;
    font-weight:bold;
    font-size:21px;
    margin:0px 8px 0px 8px;
    /*z-index:0;*/
}

.code1, .code0{
    transform:rotate(45deg);
}

.code2, .code3{
    transform:rotate(-45deg);
}

.code4, .code5{
    transform:rotate(60deg);
}

.main{
    margin:18px 1% ;
    padding:12px;
    box-shadow: 0px 0px 9px 1px #fff;
    border-radius:6px;
    overflow:hidden;
}

.faqs, .contact_us{
    margin:81px 1% -8% 1%;
    padding:12px;
    box-shadow: 0px 0px 9px 1px #fff;
    border-radius:6px;
    overflow:hidden;
}

.invalid {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:24px;padding:8px;
    background-color:pink;
    /*animation:blink 6s infinite .2s alternate;*/
    z-index: 7;
}


/*about page(s)*/

.about{
    margin-top:81px;
}

/*End of about page(s)*/

/*Dashboard:*/

.dashboard-button{
    padding:8px 12px;
    background-color: #5a3e8d;
    color:#fff;
    border:0;
    font-weight:bold;
    border-radius:6px;
    margin-right:6px
}


.view_polls, .view_archives {
    margin:-13px 2px 4px 2px;
    padding-left:6px;
    border-left:2px solid #5a3e8d;
    display:block;
}

.blink{
    animation:blink 3s infinite .3s alternate;
}

@keyframes blink{
    0%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

/*Dashboard ends*/

/*End of other pages*/

/*Miscellaneous*/

.clear:before,.clear:after,.wallet:after, .invalid:before, .invalid:after, .invest_now_div_parent:after, .invest_now_div_parent:before{
    content:"";
    display:block;
    clear:both;

    width:100%;
}
/*End of Miscellaneous*/



/*For Big Screens:*/

@media screen and (min-width:48em) {
    .menu-icon, .dashboard-menu-icon{
        display: none;
    }

    .dashboard{
        width:100%;
    }

    .dashboard-menu{
        width:21%;
        float:left;
        border-radius:8px 0 0 8px;
        border:1px solid #888;
        box-shadow:3px 3px 3px #888;
        height: 80%;
        margin:7% 0 7% 3%;
       
        background-color: #fff;
        position:static;

        display: block;
    }

    .dashboard-main{
        float:left;
        width:64%;
        border-radius:0 8px 8px 0;
        border:1px solid #888;
        box-shadow:3px 3px 3px #888;
        height:80%;
        margin:7% 3% 7% 0;
    }     

    .dashboard-menu-list li{
        list-style-type:none;
        margin-bottom:21px;
        font-weight:bold
    }

    .inner-dashboard-main {
        height:90%;
        width:95%;
        border-radius: 8px;
        box-shadow: 3px 3px 7px 3px #525050;
        margin:6%;
    }

    .main-page-img {
        float:left;
        width:45%;
        margin-left:3%;
    }
    
    .main-page-text-side{
        float:right;
        width:45%;
        margin-right:3%;
    }
    
    .menu-list, .menu-box:checked ~ .menu-list{   
        border:0px;
        box-shadow: none;
        display:flex;
        width:100%;
        height:58px;
        left:234px;
        top:-15px;
        color:#5a3e8d;
        border-bottom:1px solid #fff;
        background-color: #fff !important;
        
        list-style-type:none !important;
        float:right;
        z-index: 2;
        /*position:absolute;*/
        
    }

    .menu-list:after{
        content: "";
        display: block;
        clear: both;
    }

    .menu-list li{
        border-bottom: 0px;
    }

    .x{
        display: none;
    }
    
    .investment_sectors_parent{
        display: flex;
        padding-bottom:51px;
    }

    .investment_sectors{
        margin:6px;
    }

    .investment_plans_parent{
        display: flex;
        padding-left: 25px;
    }

    .investment_plans{
        margin:3px;
        width:22%;
    }

    .clients_before, .clients:after{
        content: "";
        display:block;
        clear:both;
    }

    .clients_text{
        float:left;
        width:40%;
    } 

    .clients_img{
        float:right;
        width:40%;
        margin-top: 12%;
    } 

    .pre-footer_text_top{
        float:left;
        width:30%;
    }

    .pre-footer_text_top .clear{
        float:right;
        width:60%;
    }

    .footer{
        height:13%;
        padding-top:4%
    }

    .action_button{
        padding: 12px 24px;
        background-color: #2b8eeb;
        margin:0 3%;
    }

    /*Other Pages(Big Screen)*/
    .sign-in-box{
        margin:10%;
    }

    .faqs, .contact_us{
        margin: 81px 16% -10% 16%;
    }

    .main{
        margin:10% 21% 2% 21%;
    }

    .dashboard_div{
        margin:14%;
    }

    .dashboard_lower_div{
        margin:6% 14%;
    }

    /*End of Other Pages(Big Screen)*/
}

/*End of stylings for big screens*/